venv
__pycache__
__pycache__/
model/
*.png
old_ver.py
main2.py
result/
results/
*.pptx
*.mp4
*.txt
*.xlsx
test_same_bolt.py
Measure_02s_10count.py
Measure_every_frame.py
screen_capture/
build
dist
*.spec
*.ico
test_envs
models
